<!--{{#each friends}}-->
    <!--<li class="c-friends__item" draggable="true" data-user="{{id}}">-->
        <!--<div class="c-friends__img-wrapper">-->
            <!--<img class="c-friends__img" src="{{photo_100}}" alt="">-->
        <!--</div>-->
        <!--<span class="c-friends__name">{{first_name}} {{last_name}}</span>-->
        <!--<a href="#" class="c-friends__button c-friends__button_move">-->
            <!--<div class="c-friends__icon">+</div>-->
        <!--</a>-->
    <!--</li>-->
<!--{{/each}}-->


<!--<div class="l-yell">-->
    <!--<div class="l-yell__title-bar">-->
        <!--<i class="fas fa-map-marker-alt fa-map-marker-alt_white"></i>-->
        <!--<span class="l-yell_address"></span>-->
    <!--</div>-->
    <!--<div class="l-dialog__search-bar">-->
        <!--<div class="c-input-wrapper">-->
            <!--<input class="c-input" id="initial-input" type="text" placeholder="Начните вводить имя друга"-->
                   <!--name="left-filter-input">-->
        <!--</div>-->
        <!--<div class="c-input-wrapper">-->
            <!--<input class="c-input" id="filtered-input" type="text" placeholder="Название" name="right-filter-input">-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="l-zone-wrapper" id="zone-wrapper">-->
        <!--<div class="c-friends-zone c-friends-zone_initial" id="initial-zone">-->
            <!--<div class="c-friends-zone__title">Ваши друзья</div>-->
            <!--<ul class="c-friends__list" id="initial-list">-->
            <!--</ul>-->
        <!--</div>-->
        <!--<div class="c-friends-zone c-friends-zone_filtered" id="filtered-zone">-->
            <!--<div class="c-friends-zone__title">Друзья в списке</div>-->
            <!--<ul class="c-friends__list" id="filtered-list">-->

            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="l-dialog__submit-bar">-->
        <!--<a href="#" class="c-button" id="save-button">Сохранить</a>-->
    <!--</div>-->
<!--</div>-->
